*{
    /* font-family: "SF Mono", "Consolas", "Menlo", monospace; */
    /* font-family:Helvetica,Arial,sans-serif; */
    /* font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; */
    font-family: "NotoSerifWeb","Noto Serif CJK Kr","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
}
h1{
    /* position: fixed; */
    /* left:20px; */
    color:white;
    background-color: rgba(255,57,92);
}
h4{
    color:white;
    background-color: rgba(127,127,127);
    font-size:32px;
    padding-left: 12px;
}

h6{
    font-size: 20px;
    padding-left: 20px;
}
.desc{
    font-size: 12px;
    padding-left: 32px;
}

th{
    color:rgba(127,127,127);
    /* background-color: rgba(255,57,92); */
    background-color: white;
    text-align: center;
}

#div_1, #div_2{
    padding-left: 20px;
    background-color: white;
}

td{
    text-align: right;
}
td.index{
    text-align: center;
}
td.stock_name{
    text-align: center;
}
td.buy_or_not{
    text-align: center;
}
td.calculation{
    text-align: left;
}
td.weight{
    text-align: center;
}

#ratio{
    color:gray;
}
.cal_title{
    color:rgba(255,57,92);
}
.cal_val{
    
    color:rgba(47,47,47);
}

.roc{
    color:rgba(255,57,92);
}

#expectedReturn{
    color:rgba(255,57,92);
    font-size:24px;
}