h1{
    position: fixed;
    left:20px;
    color:white;
    background-color: burlywood;
}
h3{
    position: fixed;
    left:20px;
    top: 50px;
    background-color: white;
}
.container{
    padding-top: 100px;
}
th{
    text-align: center;
}

td{
    text-align: right;
}

td.index{
    text-align: center;
}
td.stock_name{
    text-align: center;
}
td.buy_or_not{
    text-align: center;
}
td.calculation{
    text-align: left;
}
td.weight{
    text-align: center;
}